{% extends "quotes/base.html" %}

{% block content %}

<div>
    <h2>Adding the tag:</h2>
</div>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}

<form method="POST" action="{% url 'quotes:add_tag' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label> Tag name:
            {{form.name}}
        </label>
        <span>{{form.errors.name}}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}